# Игнорируем файлы и папки, которые не нужны для сборки образа
/prisma/migrations/
/prisma/dev.db


# Игнорируем файлы сборки и конфигурации IDE
*.log
*.tmp
*.swp
.idea/
.vscode/

# Игнорируем файлы тестов
/tests/
*.test.js
*.spec.js

# Игнорируем файлы Git
.git/
.gitignore

# Игнорируем node_modules (если используется Node.js)
node_modules/

# Игнорируем конфигурационные файлы локальной разработки

# Игнорируем кэш и временные файлы
*.bak
*.cache
.DS_Store

# Исключаем определённые файлы из игнорируемых (если требуется)
